.sign__title{
    font-weight: 500;
    font-size: 31.25px;
    line-height: 100%;
    text-align: center;   
    color: rgba(5, 138, 255, 1); 
    padding-top: 50px;
}
.sign__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;  
    color: rgba(0, 0, 0, 1);  
    padding: 20px;
}
form{
    text-align: center;
    padding: 40px 0;
}
.sign__inp{
    max-width: 100%;
    width: 400px;
    padding: 10px;
    border-radius: 8px; 
    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);
    opacity: 70%;
    font-weight: 400;
    font-size: 20px;
}
.sign__inp:focus{
    border: 1px solid rgba(5, 138, 255, 1);
    background-color: #dfe3e8;;
}
.sign__btn{
    padding: 12px 26px;
    background-color: rgba(5, 138, 255, 1);
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    margin-left: 2px;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width:504px) {
    .sign__btn{
        max-width: 100%;
        width: 300px;
        border-radius: 30px;
    }
    .sign__inp{
        max-width: 100%;
        width: 300px;
        border-radius: 30px;
        margin-bottom: 10px;
    }
}
