.main__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
}
.main__title{
    font-weight: 500;
    font-size: 48.44px;
    line-height: 150%;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 50px;
}
.main__boxs{
    max-width: 100%;
    height: auto;
    text-align: center;
}
.main__img{
    max-width: 100%;
    padding: 60px 0;
}
.main__subtitle{
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: rgba(0, 0, 0, 1);
}
.main__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
    max-width: 354px;
    padding: 20px 0;
}