nav{
    position: fixed;
    left: 0;
    right: 0;
    top:0px;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid black;
}
.nav__container, .nav__center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__container{
    padding: 10px;
}
.nav__center{
    gap:40px;
}
.nav__img{
    max-width: 100%;
    width: 69px;
    margin-left: 15px;
}
.nav__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
}
.nav__title:hover{
    color: rgba(0, 130, 244, 1);
    text-decoration: underline;
    text-underline-offset: 25px;
}
.nav__btn{
    font-weight: 400;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 130, 244, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.nav__btn:hover{
    border: 1px solid rgba(0, 128, 253, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 128, 253, 1);
    transition: all 0.8s;
    transform: scale(1.05);
}
.hum_menu {
    display: none;
    font-size: 28px;
    cursor: pointer;
    margin-right: 15px;
}
.mobile_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f5f5f5;
    padding: 20px;
    position: absolute;
    top: 75px;
    max-width: 100%;
    width: 800px;
    z-index: 100;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid rgb(138, 135, 135);
}
.mobile__text{
    color: rgba(0, 0, 0, 1);
}
.mobile__text:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media  only screen and (max-width:700px) {
    .nav__container{
        padding: 2px 0;
    }
    .nav__right, .nav__center{
        display: none;
    }
    .hum__menu{
        display: block;
    }
    .nav_center {
        display: none;
      }
      .hum_menu {
        display: block;
      }
}
  